@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --convex-yellow: #f3b01c;
    --convex-red: #ee342f;
    --convex-purple: #8d2676;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    font-size: 22px;
  }

  a {
    color: var(--convex-yellow);
  }

  .title{
    margin-left: 1%;
  }

  .dragPicture{
    margin: 3%;
  }

  .GeneratePlaylistButton{
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 0.7%;
    border-radius: 5%;
    border-left: 0% !important;
    max-width: 30% ;
    margin: auto;
    border-right: 0%;
    margin-bottom: 2%;

  }

  .loadingPlaylistAnimation{
    display: flex;
    justify-content: center;
    margin: 10%;
  }

  .loadingPlaylistAnimation.hide{
    display: flex;
    justify-content: center;
    margin: 10%;
    visibility: hidden;
  }

  .loadingPlaylistAnimation.show.black{
    display: flex;
    justify-content: center;
    margin: 10%;
    color: black;
  }

  .loadingPlaylistAnimation.show.white{
    display: flex;
    justify-content: center;
    margin: 10%;
    color: white;
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 3%;
  }
  
  .btn1 {
    border: 2px dashed; /* Change from solid to dashed*/
    background-color: transparent;
    padding: 7% 40%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  .btn2 {
    border: 2px solid; /* Change from solid to dashed */
    
    background-color: transparent;
    padding: 7% 10%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s; /* Add a smooth transition */
  
    /* Add hover styles */
  }
  .btn2:hover {
    background-color: #1DB954; /* Change to the desired color on hover */
  }
  

  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  


  .convex-yellow {
    color: var(--convex-yellow);
  }
  .convex-red {
    color: var(--convex-red);
  }
  .convex-purple {
    color: var(--convex-purple);
  }

  @media screen and (min-width: 800px) {
    :root {
      font-size: 26px;
    }
  }

  @media screen and (min-width: 1000px) {
    :root {
      font-size: 30px;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
